RADAR_LITE_DATABASE_URL=postgres://radar:radar@localhost:5432/radar?sslmode=disable
RADAR_LITE_SCHEMA=radar_lite
RADAR_COMMAND=routine
POSTGRES_USER=radar
POSTGRES_PASSWORD=radar
POSTGRES_DB=radar
RADAR_LITE_INTERVAL=15m
RADAR_LITE_CYCLE_TIMEOUT=20m
RADAR_LITE_HEALTH_ADDR=:8080

RADAR_LITE_DISCOVERY_BATCH=16
RADAR_LITE_DISCOVERY_TIMEOUT=45s
RADAR_LITE_DISCOVERY_RETRY=6h
RADAR_LITE_DISCOVERY_EMPTY_RETRY=1h
TINYFISH_API_KEY=

RADAR_LITE_DELIVERY_MODE=log
RADAR_LITE_RECIPIENT=local-preview
RADAR_LITE_PUBLISHING_ENABLED=false
RADAR_LITE_TELEGRAM_BOT_TOKEN=
RADAR_LITE_TELEGRAM_CHAT_ID=
